---
layout: sectioned-page
title: Frequently Asked Questions
slug: faq
---
<section>
  <p class='bb b--moon-gray pb4'>
      If you don’t see your question here, <a href='/contact' class='link blue dim'>ask us</a>, and we’ll get back to you ASAP.
  </p>
  <ol class='list pl0 bb b--moon-gray pb5 f3-ns'>
  {% for q in site.data.faq %}
  {% assign slug = q.question | slugify: "default" %}
    <li><a href='#{{ slug }}' class='link dim blue'>{{ q.question }}</a></li>
  {% endfor %}
  </ol>
</section>
<section>
  <dl>
      {% for q in site.data.faq %}
      {% assign slug = q.question | slugify: "default" %}
      <dt class='rum-sans-medium' id='{{ slug }}'>{{ q.question }}</dt>
      <dd class='ml0 mb4 mb5-ns'>{{ q.answer }}</dd>
      {% endfor %}
  </dl>
</section>