<nav class='tc w-100 w-two-thirds-ns center dt h4'>
    <div id='phs-logomark' class='phs-logomark w-20 dtc'></div>
    <div class='w-20 dtc v-mid f4 pt3'>
        <a href='/join' class='link near-white dim'>join</a>
    </div>
    <div class='w-20 dtc v-mid f4 pt3'>
        <a href='/enroll' class='link near-white dim'>enroll</a>
    </div>
    <div class='w-20 dtc v-mid f4 pt3'>
        <a href='/donate' class='link near-white dim'>donate</a>
    </div>
    <div class='w-20 dtc v-mid f4 pt3'>
        <a href='/contact' class='link near-white dim'>contact</a>
    </div>
</nav>