<!-- <nav id='social-media-nav'>
    <ul>
        <li><a href='https://facebook.com/powderhousestudios'>fb</a></li>
        <li><a href='https://twitter.com/powderhs'>tw</a></li>
        <li><a href='https://instagram.com/powderhs'>insta</a></li>
    </ul>
</nav> -->
<nav id='footer-nav'>
    <ul>
        <li class='home'><a href='/'>home</a></li>
        <li class='join'><a href='/join'>join</a></li>
        <li class='enroll'><a href='/enroll'>enroll</a></li>
        <!-- <li class='donate'><a href='/donate'>donate</a></li> -->
        <!-- <li class='contact'><a href='/contact'>contact</a></li> -->
    </ul>
<!--     <div id='colophon'>
        © 2016 Powderhouse Studios, All rights reserved
    </div> -->
</nav>
