<!-- <div class="dt-ns w-100 pl3 pl0-ns pr3 pr0-ns pb0-ns pb3">
    <div id='phs-logomark' class="db dtc-ns w-third-ns">
        <a href="/" class="db w-100 h-100" title="Home"></a>
    </div>
    <div class='db dtc-ns h-100 w-100 w-third-ns'>
    </div>
    <nav class="db dtc-ns h-100 w-100 w-third-ns tl tr-ns mt2 mt0-ns f4 fw4">
        <a title="@powderhs twitter profile" href="https://twitter.com/powderhs" class="icon dib mr2 mr3-m mr4-l hover-blue link near-white">
            <div id='twitter'></div>
        </a>
        <a title="Powderhouse Studios Facebook Page" href="https://www.facebook.com/powderhousestudios/" class="icon dib mr2 mr3-m mr4-l hover-blue link near-white">
            <div id='facebook'></div>
        </a>
        <a title="Powderhouse Studios Instagram Account" href="https://instagram.com/powderhs" class="icon dib mr2 mr3-m mr4-l hover-blue link near-white">
            <div id='instagram'></div>
        </a>
        <a title="Powderhouse Studios YouTube Channel" href="https://www.youtube.com/channel/UCtTU6mxTNn0GxbxnzT3zrEQ" class="icon dib mr2 mr3-m mr4-l hover-blue link near-white">
            <div id='youtube'></div>
        </a>
        <a title="Email Powderhouse Studios" href="TK" class="icon dib mr2 mr3-m mr4-l hover-blue link near-white">
            <div id='email'></div>
        </a>
    </nav>
</div> -->