<nav id='navbar' class='tc near-white w-100 w-two-thirds-ns center dt dt--fixed pt2 f3-ns f5'>
    <div id='who' class='dtc v-mid tracked h-100 w-20'>
        <a href='/who' class=' link near-white dim'>/who</a>
    </div>
    <div id='join' class='dtc v-mid tracked h-100 w-20'>
        <a href='/join' class='link near-white dim'>/join</a>
    </div>
    <div id='phs-logo' class='phs-logo dtc-ns dn h-100 w-20 h3'></div>
    <div id='phs-logomark' class='phs-logomark dtc dn-ns h-100 w-20 h3 mt2'></div>
    <div id='enroll' class='dtc v-mid tracked h-100 w-20'>
        <a href='/enroll' class='link near-white dim'>/enroll</a>
    </div>
    <div id='design' class='dtc v-mid tracked h-100 w-20'>
        <a href='/design' class='link near-white dim'>/design</a>
    </div>
</nav>