<svg width="1200px" height="199px" viewBox="-182 12 1261 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <polygon id="Path" stroke="none" fill="rgb(240,78,48)" fill-rule="evenodd" opacity="1" points="-181.511719 12.8073757 -181.511719 220.402344 1077.20645 152.14356 1078.48828 12.4023438s"></polygon>
</svg>
<div id='brandmark'>
	{% include logo-with-logotype.svg %}
</div>

<nav id='header-nav'>
    <ul>
        <li id='join'><a href='/join'>join</a></li>
        <li id='enroll'><a href='/enroll'>enroll</a></li>
        <li id='design'><a href='/design'>design</a></li>
        <li id='who'><a href='/who'>who</a></li>
    </ul>
</nav>