<div class="dt-ns w-100 pl3 pr3 pr0-ns pb0-ns pb3 bb b--light-silver">
    <div id='leftaligned-logo' class="db dtc-ns v-mid tl w-100 w-30-ns">
        <a href="/" class="db w-100 h-100" title="Home"></a>
    </div>
    <nav class="db dtc-ns v-mid w-100 w-70-ns tl tr-ns mt2 mt0-ns f4 fw4">
        <a title="About" href="/about/" class="dib mr2 mr3-m mr4-l hover-blue link black-70">About</a>
        <a title="Jobs" href="/jobs/" class="dib mr2 mr3-m mr4-l hover-blue link black-70">Jobs</a>
        <a title="Enroll" href="/enroll/" class="dib mr2 mr3-m mr4-l hover-blue link black-70">Enroll</a>
        <a title="Frequently Asked Questions (FAQ)" href="/faq/" class="dib mr2 mr3-m mr4-l hover-blue link black-70">FAQ</a>
    </nav>
</div>