/*Global CSS*/

html {
	font-family: 'GT Planar Regular',sans-serif;
	font-size: 17px; 
	line-height: 1.3em;
	letter-spacing: 0;
}

a {
	color:inherit;
}

img {
	width:100%;
}

dl {
	padding:12px;
}

dt {
	font-weight:bold;
}

dd {}