/*Global CSS*/

html {
	font-family: 'GT Planar Regular',sans-serif;
	font-size: 17px; 
	line-height: 1.3em;
	letter-spacing: 0;
}

p:not(:last-child) {
	padding-bottom: var(--gap); 
}

a {
	color:inherit;
}

img {
	width:100%;
}

dl {
	padding-left: var(--gap);
}

dt {
	font-weight:bold;
}

dd {
	padding-bottom:var(--gap);
}