@font-face {
  font-family: "Rum Platak";
  src: url("/work/powderhouse-studios-archive/assets/fonts/Rum-Plakat.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rum Sans Black";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rum Sans Black Soft";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-BlackSoft.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rum Sans Bold";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Bold.otf");
  font-weight: bold;
  font-style: ;
}
@font-face {
  font-family: "Rum Sans Bold Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "Rum Sans Light";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Light.otf");
  font-weight: light;
  font-style: ;
}
@font-face {
  font-family: "Rum Sans Light Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-LightItalic.otf");
  font-weight: light;
  font-style: italic;
}


@font-face {
  font-family: "Rum Sans Medium";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Medium.otf");
  font-weight: medium;
  font-style: ;
}
@font-face {
  font-family: "Rum Sans Medium Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-MediumItalic.otf");
  font-weight: medium;
  font-style: italic;
}


@font-face {
  font-family: "Rum Sans Semibold";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Semibold.otf");
  font-weight: semibold;
  font-style: ;
}
@font-face {
  font-family: "Rum Sans Semibold Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-SemiboldItalic.otf");
  font-weight: semibold;
  font-style: italic;
}


@font-face {
  font-family: "Rum Sans Thin";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-Thin.otf");
  font-weight: thin;
  font-style: ;
}
@font-face {
  font-family: "Rum Sans Thin Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSans-ThinItalic.otf");
  font-weight: thin;
  font-style: italic;
}




@font-face {
  font-family: "Rum Serif Bold";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-Bold.otf");
  font-weight: bold;
  font-style: ;
}
@font-face {
  font-family: "Rum Serif Bold Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "Rum Serif Light";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-Light.otf");
  font-weight: light;
  font-style: ;
}
@font-face {
  font-family: "Rum Serif Light Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-LightItalic.otf");
  font-weight: light;
  font-style: italic;
}


@font-face {
  font-family: "Rum Serif Medium";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-Medium.otf");
  font-weight: medium;
  font-style: ;
}
@font-face {
  font-family: "Rum Serif Medium Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-MediumItalic.otf");
  font-weight: medium;
  font-style: italic;
}


@font-face {
  font-family: "Rum Serif Semibold";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-Semibold.otf");
  font-weight: semibold;
  font-style: ;
}
@font-face {
  font-family: "Rum Serif Semibold Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-SemiboldItalic.otf");
  font-weight: semibold;
  font-style: italic;
}


@font-face {
  font-family: "Rum Serif Thin";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-Thin.otf");
  font-weight: thin;
  font-style: ;
}
@font-face {
  font-family: "Rum Serif Thin Italic";
  src: url("/work/powderhouse-studios-archive/assets/fonts/RumSerif-ThinItalic.otf");
  font-weight: thin;
  font-style: italic;
}


