@font-face {
    font-family: 'Rum Platak';
    src: url('/assets/fonts/Rum-Plakat.eot?') format('eot'), url('/assets/fonts/Rum-Plakat.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Black';
    src: url('/assets/fonts/RumSans-Black.eot?') format('eot'), url('/assets/fonts/RumSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-BlackSoft';
    src: url('/assets/fonts/RumSans-BlackSoft.eot?') format('eot'), url('/assets/fonts/RumSans-BlackSoft.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Bold';
    src: url('/assets/fonts/RumSans-Bold.eot?') format('eot'), url('/assets/fonts/RumSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-BoldItalic';
    src: url('/assets/fonts/RumSans-BoldItalic.eot?') format('eot'), url('/assets/fonts/RumSans-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Light';
    src: url('/assets/fonts/RumSans-Light.eot?') format('eot'), url('/assets/fonts/RumSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-LightItalic';
    src: url('/assets/fonts/RumSans-LightItalic.eot?') format('eot'), url('/assets/fonts/RumSans-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Medium';
    src: url('/assets/fonts/RumSans-Medium.eot?') format('eot'), url('/assets/fonts/RumSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-MediumItalic';
    src: url('/assets/fonts/RumSans-MediumItalic.eot?') format('eot'), url('/assets/fonts/RumSans-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Semibold';
    src: url('/assets/fonts/RumSans-Semibold.eot?') format('eot'), url('/assets/fonts/RumSans-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-SemiboldItalic';
    src: url('/assets/fonts/RumSans-SemiboldItalic.eot?') format('eot'), url('/assets/fonts/RumSans-SemiboldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Thin';
    src: url('/assets/fonts/RumSans-Thin.eot?') format('eot'), url('/assets/fonts/RumSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-ThinItalic';
    src: url('/assets/fonts/RumSans-ThinItalic.eot?') format('eot'), url('/assets/fonts/RumSans-ThinItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-Bold';
    src: url('/assets/fonts/RumSerif-Bold.eot?') format('eot'), url('/assets/fonts/RumSerif-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-BoldItalic';
    src: url('/assets/fonts/RumSerif-BoldItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-Light';
    src: url('/assets/fonts/RumSerif-Light.eot?') format('eot'), url('/assets/fonts/RumSerif-Light.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-LightItalic';
    src: url('/assets/fonts/RumSerif-LightItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-Medium';
    src: url('/assets/fonts/RumSerif-Medium.eot?') format('eot'), url('/assets/fonts/RumSerif-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-MediumItalic';
    src: url('/assets/fonts/RumSerif-MediumItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-Semibold';
    src: url('/assets/fonts/RumSerif-Semibold.eot?') format('eot'), url('/assets/fonts/RumSerif-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-SemiboldItalic';
    src: url('/assets/fonts/RumSerif-SemiboldItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-SemiboldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-Thin';
    src: url('/assets/fonts/RumSerif-Thin.eot?') format('eot'), url('/assets/fonts/RumSerif-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-ThinItalic';
    src: url('/assets/fonts/RumSerif-ThinItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-ThinItalic.otf') format('opentype');
}

			