@font-face {
    font-family: 'Rum Platak';
    src: url('/assets/fonts/Rum-Plakat.eot?') format('eot'), url('/assets/fonts/Rum-Plakat.otf') format('opentype');
}

@font-face {
    font-family: 'RumSans-Light';
    src: url('/assets/fonts/RumSans-Light.eot?') format('eot'), url('/assets/fonts/RumSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'RumSerif-ThinItalic';
    src: url('/assets/fonts/RumSerif-ThinItalic.eot?') format('eot'), url('/assets/fonts/RumSerif-ThinItalic.otf') format('opentype');
}

			