---
---

@font-face {
  font-family: "Rum Platak";
  src: url("/assets/fonts/Rum-Plakat.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rum Sans Black";
  src: url("/assets/fonts/RumSans-Black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rum Sans Black Soft";
  src: url("/assets/fonts/RumSans-BlackSoft.otf");
  font-weight: normal;
  font-style: normal;
}

{%- assign fonts = "Rum Sans,Rum Serif" | split: "," -%}
{%- assign weights = "Bold,Light,Medium,Semibold,Thin" | split: "," -%}
{%- assign styles = ",Italic" | split: "," -%}

{% for font in fonts %}
{% for weight in weights %}
{% for style in styles %}
{%- assign fontName = font | append: " " | append:  weight | append: " " | append: style | strip -%}{%- assign fontFile = fontName | replace_first: " ", "" | replace_first: " ", "-" | replace: " ", "" | append: ".otf" -%}
@font-face {
  font-family: "{{ fontName }}";
  src: url("/assets/fonts/{{ fontFile }}");
  font-weight: {{ weight | downcase }};
  font-style: {{ style | downcase }};
}
{% endfor %}
{% endfor %}
{% endfor %}