---
---

/* Media breakpoints for tachyons

--breakpoint-not-small screen and (min-width: 30em);
--breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
--breakpoint-large screen and (min-width: 60em);

*/

:root {
    --phs-red: rgb(240, 78, 48);
    --phs-orange: rgb(250, 167, 85);
    --phs-blue: rgb(0, 185, 242);
}

.phs-red {
    color: var(--phs-red);
}

main {
    font-family: "Rum Sans Thin";
}

header, footer {
    font-family: "Rum Sans Medium";
}

footer {
    background-color: black;
    height: 8rem;
}


footer #phs-logomark {
    -webkit-mask: url(/assets/phs-logomark.svg) no-repeat 100% 100%;
    mask: url(/assets/phs-logomark.svg) no-repeat 100% 100%;
    background-color: white;
    -webkit-mask-position: 16% 50%;
    mask-position: 16% 50%;
}

#leftaligned-logo {
    -webkit-mask: url(/assets/phs-leftaligned-logo.svg) no-repeat 100% 100%;
    mask: url(/assets/phs-leftaligned-logo.svg) no-repeat 100% 100%;
    background-color: var(--phs-red);
    -webkit-mask-position: 0% 50%;
    mask-position: 0% 50%;
}

#leftaligned-logo {
    height: 6rem;
    min-height: 6rem;
    -webkit-mask-size: 6rem;
    mask-size: 6rem;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    #leftaligned-logo {
        height: 7rem;
        min-height: 7rem;
        -webkit-mask-size: 7rem;
        mask-size: 7rem;
    }
}

@media screen and (min-width: 30em) {
    #leftaligned-logo {
        height: 8rem;
        min-height: 8rem;
        -webkit-mask-size: 8rem;
        mask-size: 8rem;
        -webkit-mask-position: 0 50%;
        mask-position: 0 50%;
    }
}

nav .icon div {
    width: 1.5rem;
    height: 1.5rem;
}

{% assign services = "twitter,facebook,instagram,youtube,email" | split: "," %}
{% for service in services %}
#{{ service }} {
    -webkit-mask: url(/assets/sc-{{ service }}.svg) no-repeat 100% 100%;
    mask: url(/assets/sc-{{ service }}.svg) no-repeat 100% 100%;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    background-color: white;
    mask-size: contain;
    -webkit-mask-size: contain;
}
{% endfor %}