<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Powderhouse Studios">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/tachyons.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fonts.css">
    <style>

    </style>
</head>

<body class='bg-near-white near-black'>
    <header>
        {% include header.html %}
    </header>
    <main class='lh-copy w-two-thirds-ns center pl3 pr3 mt5 mt6-l'>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>