<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="Powderhouse Studios">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/tachyons.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fonts.css">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
</head>

<body {% if page.slug %}id='{{ page.slug}}'{% endif %} class='bg-near-white near-black'>
    <header class='pa4'>
        {% include header.html %}
    </header>
    <main class='lh-copy pa4 pt0-ns pt1 f2-ns f3-m f6 lh-copy'>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>
    <script>
    // To clear the placeholder value in the search of the input
    let siteSearch = document.querySelector('#site-search');
    let searchPlaceholder = siteSearch.getAttribute('placeholder');
    siteSearch.addEventListener('focus', function(event) {
        event.target.setAttribute('placeholder', '');
    });

    // Replace the placeholder if empty
    siteSearch.addEventListener('focusout', function(event) {
        console.log(event);
        event.target.setAttribute('placeholder', searchPlaceholder);
    })
    </script>
</body>

</html>