---
layout: default
---

{% if page.title %}
<h1 class='f-headline-ns f1-m f2 lh-title'>{{ page.title }}</h1>
{% endif %}

{% if page.sections.size > 0 %}
<nav class='page-nav w-100 f4 f2-ns bb b--moon-gray'>
{% for option in page.sections %}
  {% if option.name %}
  <span><a href='#{{ option.id }}' class='link dim blue dib mr4-ns mr2 v-top'>{{ option.name }}</a></span>
  {% endif %}
{% endfor %}
</nav>

{% for section in page.sections %}
<section id='{{ section.id }}' class='bb b--light-gray'>
  {% if section.title %}
  <h2 class='f-subheadline-ns f2 lh-title mb0'>{{ section.title }}</h2>
  {% endif %}
  {% include_relative _{{ section.id}}.html %}
</section>
{% endfor %}

{% else %}

{{ content }}

{% endif %}