/*Global CSS*/

/* Generated via https://transfonter.org/ */
@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Bold'), local('GTPlanar-Bold'),
        url('/fonts/GT-Planar-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Italic 15 Bold'), local('GTPlanar-Italic15Bold'),
        url('/fonts/GT-Planar-Italic15Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Regular'), local('GTPlanar-Regular'),
        url('/fonts/GT-Planar-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Italic 15 Light'), local('GTPlanar-Italic15Light'),
        url('/fonts/GT-Planar-Italic15Light.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Light'), local('GTPlanar-Light'),
        url('/fonts/GT-Planar-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Planar';
    src: local('GT Planar Italic 15 Regular'), local('GTPlanar-Italic15Regular'),
        url('/fonts/GT-Planar-Italic15Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


html {
	font-family: 'GT Planar',sans-serif;
	font-size: 17px; 
	font-weight: 300;
	line-height: 1.3em;
	letter-spacing: 0;
}

p:not(:last-child) {
	padding-bottom: var(--gap); 
}

a {
	color:inherit;
}

img {
	width:100%;
}

dl {
	padding-left: var(--gap);
}

dt {
	font-weight:bold;
}

dd {
	padding-bottom:var(--gap);
}

.blue {color: var(--blue)}
.purple {color: var(--purple)}
.yellow {color: var(--yellow)}
.red {color: var(--red)}
.green {color: var(--green)}
.off-white {color: var(--off-white)}
.off-black {color: var(--off-black)}

img {width: 100%;}

.full-bleed {
	/*Taken from https://css-tricks.com/full-bleed/ - suggests it may require overflow-x: hidden; on the containing div, in some contexts*/
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	padding: var(--gap) 0px;
}

.footnotes {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap: var(--gap);	
	color:var(--purple);
	font-size:14px; /* Explicit? */
	text-decoration:italic;
}
.fn {
	grid-column:span 1;
}

iframe {
	border:none;
	width:100%;
	/*height:400px;*/
}

video {
	width:100%;
}